:root {
  /** Customizable Palette */
  --accent: #3fb950;
  --text: #f0f6fc;
  --background: #0d1117;

  /** Calcurated Palette */
  --text-secondary: color-mix(in srgb, var(--text) 60%, transparent);
  --text-tertiary: color-mix(in srgb, var(--text) 35%, transparent);
  --background-selected: #151b23;
  --border-primary: #3d444d;
  --box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

#vimiumHintMarkerContainer {
  .internalVimiumHintMarker {
    padding: 3px 4px;
    background: var(--background);
    border: 1px solid var(--border-primary);
    box-shadow: var(--box-shadow);
  }

  span {
    color: var(--text);
    text-shadow: none;
  }

  .matchingCharacter {
    opacity: 0.4;

    ~ span {
      color: var(--accent);
    }
  }
}

#vomnibar {
  background: var(--background);
  border-radius: 6px;
  border: 1px solid var(--border-primary);
  box-shadow: var(--box-shadow);
  overflow: hidden;

  .vomnibarSearchArea {
    padding: 10px 30px;
    color: var(--text);
    background: transparent;
    border: none;
  }

  #vomnibarInput {
    padding: 0;
    color: var(--text);
    background: transparent;
    box-shadow: none;
  }

  ul {
    margin: 0;
    padding: 0;
    background: transparent;
    border-top: 1px solid var(--border-primary);
  }

  li {
    padding: 10px;
    border-bottom: 1px solid var(--border-primary);

    .vomnibarTopHalf,
    .vomnibarBottomHalf {
      display: flex;
      padding: 3px 0;
    }

    .vomnibarTitle,
    .vomnibarSource {
      color: var(--text-secondary);
    }

    .vomnibarUrl {
      overflow: hidden;
      color: var(--text-tertiary);
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .vomnibarMatch {
      color: var(--accent);
      font-weight: normal;
    }

    .vomnibarTitle .vomnibarMatch {
      color: var(--accent);
    }

    &.vomnibarSelected {
      background-color: var(--background-selected);
    }
  }
}

div.vimiumHUD {
  background: var(--background);
  border: 1px solid var(--border-primary);
  box-shadow: var(--box-shadow);

  .hud-find {
    display: flex;
  }

  span#hud-find-input {
    position: relative;
    width: 100%;
    color: var(--text);
    padding-left: 10px;

    &::before {
      position: absolute;
      left: 0;
      color: var(--text-secondary);
      background: linear-gradient(
        90deg,
        var(--background) 0%,
        var(--background) 50%,
        transparent 100%
      );
    }
  }

  #hud-match-count {
    flex-shrink: 0;
    float: none;
    padding-left: 4px;
  }

  .hud-find,
  .vimiumHUDSearchArea {
    background-color: transparent;
    border: none;
  }
}
